<%- include('partials/header') %>

<%- include('partials/navbar') %>
<body>
    <h1>Duvida: <%= titul %></h1> 
    
        <h2>Descrição da pergunta: <%= descricao %></h2>
        
</body>


<%- include('partials/footer') %>